<h1>Shopping Cart</h1>
<div *ngIf="cart$ | async as cart">
    <p class="center"> 
        You have {{cart.totalItemCount}} items in your shopping cart.
        <button
        *ngIf="cart.items.length"
        (click)="clearCart()"
        class="btn btn-light btn-sm">Clear Shopping Cart</button>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                
                <th>Product</th>
                <th>Price</th>
                <th class="text-center" style="width: 370px">Quantity</th>
                
                <th class="text-right">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let items of cart.items">
                <td>
                    <img [src]="" class="thumbnail" [style.backgroundImage]="'url('+ items.imageUrl +')'">
                </td>

                <td>
                    {{items.title}}
                </td>
                <td>
                    {{items.price | currency: 'USD': true}}    
                </td>
                <td>
                   <product-quantity [product]="items" [shopping-cart]="cart">

                   </product-quantity>
                </td>
                <td class="text-right">
                    {{items.totalPrice | currency: 'USD':true}}
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th class="text-right">Total: {{ cart.totalPrice | currency:'USD':true}}</th>
            </tr>
            <a 
        class="text-right"
        *ngIf="cart.items.length"
        routerLink="/check-out"
        class="btn btn-primary">Check Out</a>
        </tfoot>
        
    </table>
    
    
</div>









